.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef3fc;
  padding: 50px;
}

.hero-text h3 {
  color: #39a0ff;
  font-size: 18px;
}

.hero-text h1 {
  font-size: 36px;
  color: #162d5b;
}

.services-btn {
  background-color: #39a0ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero-image img {
  width: 300px;
}
