.appointment-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.app-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dark-btn {
  background-color: #003366;
  color: white;
}

.light-btn {
  background-color: #dfeeff;
  color: black;
}

.medium-btn {
  background-color: #39a0ff;
  color: white;
}
