.top-bar {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  /* padding: 10px 0; */
  font-size: 14px;
}

.logo {
  font-weight: bold;
  color: #003366;
  font-size: 36px;
  font-family: Yeseva One;
  font-weight: 400;
}

.logo span {
  color: #0099ff;
}

.top-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-info img {
  width: 18px;
  height: 18px;
}
