.top-bar {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #003366;
  font-size: 30px;
  font-family: Yeseva One;
}

.logo span {
  color: #0099ff;
}

.top-info {
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 8px;
}

.top-info span {
  color: #000000;
}

.top-info img {
  width: 30px;
  height: 30px;
}
