.appointment-section {
    background: url("/formback.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    padding: 50px;
  }
  
  .appointment-form {
    background-color: #162d5b;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  input, select, textarea {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    width: 100%;
    height: 80px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background: #a5c3ff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  