.specialties-section {
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
    background: #fafdfe;
  }
  
  .subheading {
    color: #159eec;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .heading {
    font-size: 28px;
    margin-top: 0;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
  }
  
  .specialties-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1150px;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .specialty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    color: #212124;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .specialty-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .specialty-item span {
    font-size: 16px;
    font-weight: 400;
  }
  
  .specialty-item.active {
    background: #1f2b6c;
    color: white;
  }
  
  .specialty-item.active img {
    filter: brightness(100);
  }
  