.navbar {
  background: #1f2b6c;
  font-family: Work Sans, sans-serif;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 187px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  width: 100%;
}

.menu-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.menu-items li a {
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu-items li a:hover, .menu-items li a.active {
  font-weight: bold;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-container {
  width: 42px;
  height: 42px;
  background: #1f2b6c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-right: 12px;
}

.search-icon {
  width: 18px;
}

.appointment-btn {
  background: #bfd2f8;
  color: #1f2b6c;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.appointment-btn:hover {
  background: white;
}
