.about-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .about-text h4 {
    color: #159eec;
    font-family: Work Sans, sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .about-text h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Yeseva One, serif;
    font-weight: bold;
    color: #1f2b6c;
  }
  
  .about-text p {
    font-size: 16px;
    color: #000000;
    max-width: 658px;
    margin: auto;
    margin-top: 0;
    font-family: Work Sans, sans-serif;
    margin-bottom: 15px;
    line-height: 1.4;
  }
  
  .learn-more {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 15px;
    color: #159eec;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
  }
  
  .about-image {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  
  .about-image img {
    width: 90%;
    max-width: 1000px;
  }
  