.appointment-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  background-size: cover;
  background-position: center;
  color: #212124;
}

.appointment-content {
  max-width: 40%;
}

.heading {
  font-size: 32px;
  font-weight: 400;
  font-family: "Yeseva One", serif;
  color: #159eec;
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  color: #212124;
}

.appointment-form {
  width: 491px;
  height: 445px;
  background-color: rgba(255, 255, 255, 0.0);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  background-color: #1f2b6c;
  color: white;
  border: none;
  outline: none;
  border: 1px solid white;
}

select {
  appearance: none;
  background: #1f2b6c url("dropdown-icon.png") no-repeat right 10px center;
  background-size: 15px;
}

textarea {
  height: 60px;
}

button {
  width: 100%;
  background-color: #bfd2f8;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}