.news-section {
    text-align: center;
    background: #fafdfe;
    padding: 50px 0;
}

.news-section h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: Yeseva One;
    color: #1f2b6c;
    margin-bottom: 50px;
}

.news-section, .sub {
    font-size: 16px;
    font-weight: bold;
    font-family: Work Sans;
    color: #159eec;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
  
.news-card {
    display: flex;
    background: #fcfefe;
    border-radius: 5px;
    overflow: hidden;
    width: 486px;
    height: 154px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
  
.news-card:hover {
    transform: translateY(-5px);
}

.news-image {
    width: 40%;
    height: auto;
}
  
.news-info {
    padding: 15px;
    text-align: left;
}
  
.news-date {
    color: #159eec;
    font-size: 14px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}
  
.news-title {
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    margin-top: 15px;
    margin-bottom: 25px;
}
  
.news-stats {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: black;
}
  
.icon {
    width: 16px;
    height: 16px;
}
  
.carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
  
.carousel-btn {
    width: 12px;
    height: 12px;
    background: #bfd2f8;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
  
.carousel-btn.active {
    background: #1f2b6c;
}  